<%= form_for @apprentice do |f| %>

    <% if apprentice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apprentice.errors.count, "error") %> prohibited this apprentice from being saved:</h2>

      <ul>
      <% apprentice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :full_name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :Project_Repo %>
  <%= f.text_field :project_repo %>
</div>

<div class="field">
  <%= f.label :Project_URL %>
  <%= f.text_field :project_url %>
</div>



<div class="actions">
  <%= f.submit %>
</div>
<% end %>