<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p> Hi Tim, </p>
	<p> I have successfully completed the Trim Coding Challenge. Please see below for the data you requested. </p>
	<h1> Name: <%= @apprentice.name %> <%= @apprentice.email %> </h1>
	<p> This project is hosted at <%= @apprentice.project_url %>. The github repo can be viewed at <%= @apprentice.project_repo %> </p>
	<h2> Language rankings </h2>
	<ul>
		<li> Javascript: <%= @apprentice.language_rating.javascript %> / 50 </li>
		<li> HTML: <%= @apprentice.language_rating.html %> / 50 </li>
		<li> CSS: <%= @apprentice.language_rating.css %> / 50 </li>
	</ul>
	<h2> Aptitude </h2>
	<ul> 
		<li> Working on a team: <%= @apprentice.aptitude.teamwork %> / 50 </li>
		<li> Self Motivation: <%= @apprentice.aptitude.motivation %> / 50 </li>
		<li> Communication Skills: <%= @apprentice.aptitude.communication %> / 50 </li>
		<li> Energy Level: <%= @apprentice.aptitude.energy %> / 50 </li>
		<li> Intelligence: <%= @apprentice.aptitude.intelligence %> / 50 </li>
		<li> Problem Solving Skills: <%= @apprentice.aptitude.problem_solving %> / 50 </li>
	</ul>

	<h2> Coding Pratices </h2>
	
	<ul> 
		<li> Using best practices for OOP: <%= @apprentice.code_practice.OOP %> / 50 </li> 
		<li> Modular Development: <%= @apprentice.code_practice.modular_development %> / 50 </li> 
		<li> Full-stack workflow understanding: <%= @apprentice.code_practice.full_stack %> / 50 </li> 
		<li> Testing: <%= @apprentice.code_practice.testing %> / 50 </li> 
		<li> Database Knowledge: <%= @apprentice.code_practice.db_knowledge %> / 50 </li> 
		<li> Debugging: <%= @apprentice.code_practice.debugging %> / 50 </li> 
	</ul>

	<p> The coding challenge was a fun and rewarding experience. 3 months ago, I would have rated myself a 0 for almost all the skills listed. I have experience tremendous growth, and I am eager to continue my learning. I know I would quickly become a valued member of the trim team. </p>
	<p> Please feel free to contact me at any time. </p>

	<p> Regards, </br>
	<%= @apprentice.name %> </p>


</body>
</html>